---

networks:

  hortusfox:
    driver: bridge
  web:
    name: web
    external: true

services:

  db:
    container_name: hortusfox_db
    image: mariadb:lts
    environment:
      MYSQL_ROOT_PASSWORD: {{ hortusfox.db_root_password | default('dummy') }}
      MYSQL_DATABASE: {{ hortusfox.db_database | default('hortusfox') }}
      MYSQL_USER: {{ hortusfox.db_user | default('hortusfox') }}
      MYSQL_PASSWORD: {{ hortusfox.db_password | default('dummy') }}
    hostname: db
    labels:
      - docker-volume-backup.archive-pre=/bin/sh -c 'mariadb-dump -psecret --all-databases > /tmp/dumps/dump.sql'
    networks:
      - hortusfox
    restart: always
    volumes:
      - db_data:/var/lib/mysql
      - {{ hortusfox_db_backup_volume_name | default('db_backup') }}:/tmp/dumps

  app:
    container_name: {{ hortusfox_service_name }}
    image: {{ hortusfox_image }}
    environment:
      APP_ADMIN_EMAIL: {{ hortusfox.admin_email | default('admin@localhost') }}
      APP_ADMIN_PASSWORD: {{ hortusfox.admin_password | default('dummy') }}
      APP_TIMEZONE: {{ homelab.timezone | default(omit) }}
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: {{ hortusfox.db_database | default('hortusfox') }}
      DB_USERNAME: {{ hortusfox.db_user | default('hortusfox') }}
      DB_PASSWORD: {{ hortusfox.db_password | default('dummy') }}
      DB_CHARSET: "utf8mb4"
    hostname: app
    labels: {{ (hortusfox_container_labels | default({})) | default(omit) }}
    networks:
      - hortusfox
      - web
    ports:
      - "8090:80"
    volumes:
      - app_images:/var/www/html/public/img
      - app_logs:/var/www/html/app/logs
      - app_backup:/var/www/html/public/backup
      - app_themes:/var/www/html/public/themes
      - app_migrate:/var/www/html/app/migrations
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    depends_on:
      - db

volumes:

  db_data:
  {{ hortusfox_db_backup_volume_name | default('db_backup') }}:
    external: true
  app_images:
  app_logs:
  app_backup:
  app_themes:
  app_migrate:
