---
global:
  scrape_interval:     10s # The default scrape interval is every 10 seconds.
  evaluation_interval: 10s # The default evaluation interval is every 10 seconds.
  # On this machine, every time series will be exported by default.

scrape_configs:

  #### MONITORING SERVICES
  - job_name: '{{ node_exporter_service_name | default("node-exporter") }}'
    scheme: https
    scrape_interval: 5s
    metrics_path: /metrics
    static_configs:
      - targets: ["{{ node_exporter_fqdn }}"]
    tls_config:
      insecure_skip_verify: true
  - job_name: "{{ prometheus_service_name | default(prometheus) }}"
    scheme: https
    scrape_interval: 5s
    static_configs:
      - targets: ["{{ prometheus_fqdn }}"]
    tls_config:
      insecure_skip_verify: true
  - job_name: '{{ traefik_service_name | default("traefik") }}'
    scheme: https
    scrape_interval: 5s
    metrics_path: /metrics
    static_configs:
      - targets: ["{{ traefik_fqdn }}"]
    tls_config:
      insecure_skip_verify: true

  - job_name: node
    scheme: https
    scrape_interval: 15s
    honor_labels: true
    metrics_path: "/federate"
    params:
      "match[]":
        - '{job="prometheus"}'
        - '{__name__=~"job:.*"}'
    static_configs:
      - targets:
          - "prometheus.broker.localdomain"
          - "prometheus.frigate.localdomain"
          - "prometheus.homepage.localdomain"
          # - "prometheus.influxdb.localdomain"
          - "prometheus.portainer.localdomain"
          - "prometheus.uptimekuma.localdomain"
          - "prometheus.vaultwarden.localdomain"
          - "prometheus.whatsupdocker.localdomain"
    tls_config:
      insecure_skip_verify: true
