---

# This playbook deploys support services for the homelab environment and are intended to be run on all Homelab LXC based servers.

# The services include:
# - Beszel Agent
# - Dozzle Agent
# - Portainer Agent
# - Socket Proxy
# - Docker Socket Proxy
# - Traefik
# - Tinyauth
# - Node Exporter
# - Prometheus
# - Atlas

# Load environment variables applicable to the homelab environment
- name: homelab-deploy-support-services | Load homelab vars
  ansible.builtin.include_vars:
    file: vars/homelab_env.yaml
  tags: always

# Ensure docker is installed and configured on the host
- name: homelab-deploy-support-services | Configure Homelab Docker base
  ansible.builtin.include_tasks:
    file: tasks/homelab-configure-docker-base.yaml
  tags: always

# Use the following agents to monitor Docker services via host docker socket

- name: homelab-deploy-support-services | Deploy a containerised instance of a Beszel Agent
  ansible.builtin.include_tasks:
    file: tasks/deploy-beszel-agent.yaml
  tags: beszel

- name: homelab-deploy-support-services | Deploy a containerised instance of a Dozzle Agent
  ansible.builtin.include_tasks:
    file: tasks/deploy-dozzle-agent.yaml
  tags: dozzle

- name: homelab-deploy-support-services | Deploy a containerised instance of a Portainer Agent
  ansible.builtin.include_tasks:
    file: tasks/deploy-portainer-agent.yaml
  tags: portainer

# Use the following socket proxies to provide controlled access to the Docker socket for services that require it

- name: homelab-deploy-support-services | Deploy an exposed containerised instance of Socket Proxy configured for use by Homepage and Uptime Kuma
  ansible.builtin.include_tasks:
    file: tasks/deploy-socket-proxy.yaml
  vars:
    socket_proxy_service_name: "{{ socket_proxy_external_network_name }}"
    socket_proxy_service_port: 2378
    socket_proxy_network_name: "{{ socket_proxy_external_network_name }}"
    socket_proxy_network_internal: false

- name: homelab-deploy-support-services | Deploy an exposed containerised instance of Docker Socket Proxy configured for use by Homepage and Uptime Kuma
  ansible.builtin.include_tasks:
    file: tasks/deploy-docker-socket-proxy.yaml
  vars:
    docker_socket_proxy_service_name: "{{ docker_socket_proxy_external_network_name }}"
    docker_socket_proxy_service_port: 2375
    docker_socket_proxy_network_name: "{{ docker_socket_proxy_external_network_name }}"
    docker_socket_proxy_network_internal: false
    docker_socket_proxy_env:
      CONTAINERS: "1"

- name: homelab-deploy-support-services | Deploy an exposed containerised instance of Docker Socket Proxy configured to What's Up Docker?
  ansible.builtin.include_tasks:
    file: tasks/deploy-docker-socket-proxy.yaml
  vars:
    docker_socket_proxy_service_name: docker-socket-proxy-wud
    docker_socket_proxy_service_port: "{{ whatsupdocker_docker_socket_proxy_service_port | int }}"
    docker_socket_proxy_network_name: docker-socket-proxy-wud
    docker_socket_proxy_network_internal: false
    docker_socket_proxy_env: "{{ whatsupdocker_docker_socket_proxy_env }}"

# Use Traefik as a reverse proxy to manage access to web services with SSL via Let's Encrypt

- name: homelab-deploy-support-services | Deploy a containerised instance of Traefik
  ansible.builtin.include_tasks:
    file: tasks/deploy-traefik.yaml
  vars:
    traefik_network_name: "{{ reverse_proxy_network_name }}"

# Use Tinyauth to provide basic authentication for web services

- name: homelab-deploy-support-services | Deploy a containerised instance of Tinyauth
  when: deploy_tinyauth | default(false)
  ansible.builtin.include_tasks:
    file: tasks/deploy-tinyauth.yaml

# Use Prometheus stack to monitor host metrics

- name: homelab-deploy-support-services | Deploy Prometheus stack services
  when: deploy_prometheus_stack | default(false)  # Disable for now as not needed with Dozzle
  block:

    - name: homelab-deploy-support-services | Deploy a containerised instance of Node Exporter
      ansible.builtin.include_tasks:
        file: tasks/deploy-node-exporter.yaml

    - name: homelab-deploy-support-services | Deploy a containerised instance of Prometheus
      ansible.builtin.include_tasks:
        file: tasks/deploy-prometheus.yaml

# Use Atlas to visualise Docker network topology

- name: homelab-deploy-support-services | Deploy a containerised instance of Atlas
  when: deploy_atlas | default(false)
  ansible.builtin.include_tasks:
    file: tasks/deploy-atlas.yaml
