---

name: Firefly III

networks:

  firefly_iii:
    driver: bridge
  web:
    name: web
    external: true

services:

  db:
    container_name: firefly_iii_db
    image: mariadb:lts
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: true
      MYSQL_DATABASE: {{ firefly.db_database | default('firefly') }}
      MYSQL_USER: {{ firefly.db_user | default('firefly') }}
      MYSQL_PASSWORD: {{ firefly.db_user | default('dummy') }}
    labels: {{ (fireflyiii_db_container_labels | default({})) | default(omit) }}
    networks:
      - firefly_iii
    restart: always
    volumes:
      - firefly_iii_db:/var/lib/mysql
      - {{ fireflyiii_db_backup_volume_name | default('fireflyiii_db_backup') }}:/tmp/dumps

  app:
    container_name: firefly_iii_core
    image: fireflyiii/core:version-6.2.19
    env_file: fireflyiii.env
    labels: {{ (fireflyiii_container_labels | default({})) | default(omit) }}
    networks:
      - firefly_iii
      - web
    ports:
      - 8090:8080
    restart: unless-stopped
    volumes:
      - firefly_iii_upload:/var/www/html/storage/upload
    depends_on:
      - db

  #
  # The Firefly III Data Importer will ask you for the Firefly III URL and a "Client ID".
  # You can generate the Client ID at http://localhost/profile (after registering)
  # The Firefly III URL is: http://app:8080
  #
  # Other URL's will give 500 | Server Error
  #
  importer:
    container_name: firefly_iii_importer
    image: fireflyiii/data-importer:version-1.7.0
    env_file: fireflyiii_importer.env
    hostname: importer
    labels:
      # What's up Docker? labels
      - 'wud.tag.include=^\d+\.\d+\.\d+$$'
      - 'wud.link.template=https://github.com/firefly-iii/data-importer/releases/tag/v${major}.${minor}.${patch}'
    networks:
      - firefly_iii
    ports:
      - 8091:8080
    restart: always
    depends_on:
      - app

  cron:
    #
    # To make this work, set STATIC_CRON_TOKEN in your .env file or as an environment variable and replace REPLACEME below
    # The STATIC_CRON_TOKEN must be *exactly* 32 characters long
    #
    container_name: firefly_iii_cron
    image: alpine
    command: sh -c "
      apk add tzdata && ln -s /usr/share/zoneinfo/${TZ} /etc/localtime
      | echo \"0 3 * * * wget -qO- http://app:8080/api/v1/cron/VmRbRzvdEmtWMmJECSjXkcffzejCPYgy;echo\"
      | crontab - && crond -f -L /dev/stdout"
    env_file: fireflyiii.env
    networks:
      - firefly_iii
    restart: always

volumes:
  firefly_iii_db:
  {{ fireflyiii_db_backup_volume_name | default('fireflyiii_db_backup') }}:
    external: true
  firefly_iii_upload:
