DOMAIN=https://{{ vaultwarden_fqdn | default('vaultwarden.{{ lan_domain }}') }}
LOGIN_RATELIMIT_MAX_BURST=10
LOGIN_RATELIMIT_SECONDS=60
ADMIN_RATELIMIT_MAX_BURST=10
ADMIN_RATELIMIT_SECONDS=60
ADMIN_TOKEN={{ vaultwarden.admin_token | default('dummy') }}
SENDS_ALLOWED=true
EMERGENCY_ACCESS_ALLOWED=true
WEB_VAULT_ENABLED=true
SIGNUPS_ALLOWED=false
SIGNUPS_VERIFY=false
SIGNUPS_VERIFY_RESEND_TIME=3600
SIGNUPS_VERIFY_RESEND_LIMIT=5
SIGNUPS_DOMAINS_WHITELIST={{ vaultwarden_fqdn | default('vaultwarden.{{ lan_domain }}') }}
# SMTP_HOST={{ smtp.host }}
# SMTP_FROM={{ smtp.username }}
# SMTP_FROM_NAME=Vaultwarden
# SMTP_SECURITY=starttls
# SMTP_PORT={{ smtp.port }}
# SMTP_USERNAME={{ smtp.username | default('dummy') }}
# SMTP_PASSWORD={{ smtp.password | default('dummy') }}
# SMTP_AUTH_MECHANISM="Plain"
SSO_ENABLED=true
SSO_AUTHORITY=https://authentik.lxc-home.homelab.greenthegarden.com/application/o/vaultwarden/
SSO_CLIENT_ID={{ vaultwarden.authentik.oidc_client_id | default('dummy') }}
SSO_CLIENT_SECRET={{ vaultwarden.authentik.oidc_client_secret | default('dummy') }}
SSO_SCOPES=check_verified_email profile offline_access
SSO_ALLOW_UNKNOWN_EMAIL_VERIFICATION=false
SSO_CLIENT_CACHE_EXPIRATION=0
SSO_ONLY=false # Set to true to disable email and master password login and require SSO
SSO_SIGNUPS_MATCH_EMAIL=true # Match first SSO login to an existing account by email
