DOMAIN=https://{{ vaultwarden_fqdn }}
LOGIN_RATELIMIT_MAX_BURST=10
LOGIN_RATELIMIT_SECONDS=60
ADMIN_RATELIMIT_MAX_BURST=10
ADMIN_RATELIMIT_SECONDS=60
ADMIN_TOKEN={{ vaultwarden.admin_token }}
SENDS_ALLOWED=true
EMERGENCY_ACCESS_ALLOWED=true
WEB_VAULT_ENABLED=true
SIGNUPS_ALLOWED=false
SIGNUPS_VERIFY=false
SIGNUPS_VERIFY_RESEND_TIME=3600
SIGNUPS_VERIFY_RESEND_LIMIT=5
SIGNUPS_DOMAINS_WHITELIST={{ vaultwarden_fqdn }}
SMTP_HOST={{ smtp.host }}
SMTP_FROM={{ smtp.username }}
SMTP_FROM_NAME=Vaultwarden
SMTP_SECURITY=starttls
SMTP_PORT={{ smtp.port }}
SMTP_USERNAME={{ smtp.username }}
SMTP_PASSWORD={{ smtp.password }}
SMTP_AUTH_MECHANISM="Plain"
