PG_DB={{ authentik.db_name | default('authentik') }}
PG_USER={{ authentik.db_user | default('authentik') }}
PG_PASS={{ authentik.db_password | default('dummy') }}
AUTHENTIK_SECRET_KEY={{ authentik.secret_key | default('dummy') }}
AUTHENTIK_ERROR_REPORTING__ENABLED=true
AUTHENTIK_TAG=2025.2.2
