---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/docker/

docker-local:
  host: socket-proxy_homepage
  port: 2379

docker-lxc-controller:
  host: lxc-controller.{{ lan_domain }}
  port: 2379

docker-lxc-finance:
  host: lxc-finance.{{ lan_domain }}
  port: 2379

docker-lxc-frigate:
  host: lxc-frigate.{{ lan_domain }}
  port: 2379

docker-lxc-home:
  host: lxc-home.{{ lan_domain }}
  port: 2379

docker-lxc-inventories:
  host: lxc-inventories.{{ lan_domain }}
  port: 2379

docker-lxc-llm:
  host: lxc-llm.{{ lan_domain }}
  port: 2379

docker-lxc-messaging:
  host: lxc-messaging.{{ lan_domain }}
  port: 2379

docker-lxc-monitor:
  host: lxc-monitor.{{ lan_domain }}
  port: 2379

docker-lxc-productivity:
  host: lxc-monitor.{{ lan_domain }}
  port: 2379
