---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services
# https://gethomepage.dev/latest/widgets/

- Family:

    - Nextcloud:
        href: "{{ nextcloud.url }}/"
        description: Home cloud services
        icon: nextcloud.png
        siteMonitor: "{{ nextcloud.url }}"

    - Home Assistant:
        href: "{{ home_assistant.url }}"
        description: Home automation
        icon: home-assistant.png
        siteMonitor: "{{ home_assistant.url }}"
        widget:
          type: homeassistant
          url: "{{ home_assistant.url }}:8123"
          key: "{{ home_assistant.key }}"
          custom:
            - state: sensor.indoor_temperature_2
            - state: sensor.indoor_humidity_2
            - state: sensor.indoor_co2_2
            - state: sensor.indoor_voc_parts_2

- Applications:

- System:

    - AdGuard:
        href: "{{ adguard.url }}/"
        description: Domain management
        icon: adguard-home.png
        siteMonitor: "{{ adguard.url }}"
        widget:
          type: adguard
          url: "{{ adguard.url }}"
          username: "{{ adguard.username }}"
          password: "{{ adguard.password }}"

    - Printer:
        href: "{{ printer.url }}"
        description: Brother MFC-L2703DW
        icon: brother
        siteMonitor: "{{ printer.url }}:80"

    - Proxmox:
        href: "{{ proxmox.url }}/"
        description: Homelab server
        icon: proxmox.png
        siteMonitor: "{{ proxmox.url }}"
        widget:
          type: proxmox
          url: "{{ proxmox.url }}"
          username: "{{ proxmox.username }}"
          password: "{{ proxmox.password }}"
          fields: ["vms", "lxc", "resources.cpu", "resources.mem"]

    - TrueNAS:
        href: "{{ truenas.url }}/"
        description: TrueNAS SCALE
        icon: truenas.png
        siteMonitor: "{{ truenas.url }}"

    - Router:
        href: "{{ unifi_console.url }}/"
        description: Unifi Console
        icon: unifi.png
        siteMonitor: "{{ unifi_console.url }}"
        widget:
          type: unifi
          url: "{{ unifi_console.url }}"
          username: "{{ unifi_console.username }}"
          password: "{{ unifi_console.password }}"


- Monitoring:

    - Emoncms:
        href: http://emonpi/
        description: Open-source energy visualisation
        icon: mdi-power-socket-au
        siteMonitor: http://emonpi.localdomain

    - Wazuh:
        href: "{{ wazuh.url }}/"
        description: Wazuh
        icon: wazuh.png
        siteMonitor: "{{ wazuh.url }}"

    - Netdata:
        href: "{{ netdata.url }}/"
        description: Netdata
        icon: netdata.png
        siteMonitor: "{{ netdata.url }}"
        widget:
          type: netdata
          url: "{{ netdata.url }}"

- Cameras:

    - Porch:
        href: http://camera-doorbell.localdomain/
        description: Reolink Video Doorbell PoE
        icon: mdi-doorbell-video
        siteMonitor: http://camera-doorbell.localdomain

    - Front Hall:
        href: http://camera-fronthall.localdomain/
        description: Reolink RLC-520A
        icon: mdi-cctv
        siteMonitor: http://camera-fronthall.localdomain

- Sensors:

    - Airthings:
        href: https://dashboard.airthings.com/
        description: Airthings Cloud
        icon: mdi-home-thermometer-outline

    - RoomSense IQ:
        href: http://192.168.20.112/
        description: RoomSense IQ
        icon: mdi-account-check
        siteMonitor: http://192.168.20.112/
