---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/
# https://gethomepage.dev/latest/widgets/

- Devices:

    - DNS:
        href: {{ adguard.url }}
        description: Domain name server and management
        icon: adguard-home.png
        siteMonitor: {{ adguard.url }}
        widget:
          type: adguard
          url: {{ adguard.url }}
          username: {{ adguard.username }}
          password: {{ adguard.password }}

    - Network Gateway:
        href: {{ unifi_console.url }}
        description: Unifi Console
        icon: ubiquiti-unifi.png
        siteMonitor: {{ unifi_console.url }}
        widget:
          type: unifi
          url: {{ unifi_console.url }}
          username: {{ unifi_console.username }}
          password: {{ unifi_console.password }}

    - Home Server:
        href: {{ proxmox.url }}
        description: Homelab server
        icon: proxmox.png
        siteMonitor: {{ proxmox.url }}
        widget:
          type: proxmox
          url: {{ proxmox.url }}
          username: {{ proxmox.username }}
          password: {{ proxmox.password }}
          fields: ["vms", "lxc", "resources.cpu", "resources.mem"]

    - Network Storage:
        href: {{ truenas.url }}
        description: TrueNAS SCALE
        icon: truenas.png
        siteMonitor: {{ truenas.url }}
        widget:
            type: truenas
            url: {{ truenas.url }}
            key: {{ homepage.truenas_api_key }}
            enablePools: true # optional, defaults to false
            nasType: scale # defaults to scale, must be set to 'core' if using enablePools with TrueNAS Core

    - Printer:
        href: {{ printer.url }}
        description: Brother MFC-L2703DW
        icon: brother.png
        siteMonitor: {{ printer.url }}:80

- Cameras:

    - Porch:
        href: http://camera-doorbell.{{ lan_domain }}
        description: Reolink Video Doorbell PoE
        icon: mdi-doorbell-video
        siteMonitor: http://camera-doorbell.{{ lan_domain }}

    - Front Hall:
        href: http://camera-fronthall.{{ lan_domain }}
        description: Reolink RLC-520A
        icon: mdi-cctv
        siteMonitor: http://camera-fronthall.{{ lan_domain }}

# - Home Applications:
- Nextcloud:

    - Nextcloud:
        href: {{ nextcloud.url }}
        description: Home cloud services
        icon: nextcloud.png
        siteMonitor: {{ nextcloud.url }}
        widget:
          type: nextcloud
          url: {{ nextcloud.url }}
          username: {{ homepage.nextcloud_username }}
          password: {{ homepage.nextcloud_password }}
          fields: ["cpuload", "memoryusage", "freespace", "activeusers"]

- Home Assistant:

    - Home Assistant:
        href: {{ home_assistant.url }}
        description: Home automation
        icon: home-assistant.png
        siteMonitor: {{ home_assistant.url }}
        widget:
          type: homeassistant
          url: {{ home_assistant.url }}:8123
          key: {{ home_assistant.key }}
          custom:
            - state: sensor.indoor_temperature_2
            - state: sensor.indoor_humidity_2
            - state: sensor.indoor_co2_2
            - state: sensor.indoor_voc_parts_2

- Monitoring:

    - Wazuh:
        href: {{ wazuh.url }}
        description: Wazuh
        icon: wazuh.png
        siteMonitor: {{ wazuh.url }}

- Sensors:

    - Airthings:
        href: https://dashboard.airthings.com
        description: Airthings Cloud
        icon: mdi-home-thermometer-outline

    - Energy Monitor :
        href: http://emonpi
        description: Open-source energy visualisation
        icon: mdi-power-socket-au
        siteMonitor: http://emonpi.{{ lan_domain }}

    - RoomSense IQ:
        href: http://192.168.20.112
        description: RoomSense IQ
        icon: mdi-account-check
        siteMonitor: http://192.168.20.112
