---
- name: Deploy SearXNG

  hosts: ollama

  vars:

    # SearXNG facts
    # renovate: datasource=docker depName=searxng/searxng
    searxng_image: searxng/searxng:2026.2.23-4964d664f

  tasks:

    - name: Load homelab vars
      ansible.builtin.include_vars:
        file: vars/homelab_env.yaml

    - name: Deploy a containerised instance of SearXNG
      ansible.builtin.include_tasks:
        file: tasks/deploy-searxng.yaml
