---
- name: Deploy Grafana

  hosts: grafana

  vars:

    # Grafana facts
    # renovate: datasource=docker depName=grafana/grafana
    grafana_image: grafana/grafana:12.2.1

  tasks:

    - name: Load homelab vars
      ansible.builtin.include_vars:
        file: vars/homelab_env.yaml

    - name: Deploy a containerised instance of Grafana
      ansible.builtin.include_tasks:
        file: tasks/deploy-grafana.yaml

    - name: Deploy a containerised instance of Docker Volume Backup
      when: grafana_deploy_docker_volume_backup | default(false)
      ansible.builtin.include_tasks:
        file: tasks/deploy-docker-volume-backup.yaml
      vars:
        docker_volume_backup_service_name: "docker-volume-backup-{{ grafana_service_name }}"
        docker_volume_backup_volume_to_backup:
          - "{{ grafana_volume_name }}:/backup/{{ grafana_service_name }}-backup:ro"
        docker_volume_backup_backup_label: "{{ grafana_service_name }}"
