---
- name: Deploy Frigate

  hosts: frigate

  vars:

    # Frigate facts
    # renovate: datasource=docker depName=ghcr.io/blakeblackshear/frigate
    frigate_image: ghcr.io/blakeblackshear/frigate:0.16.3

  tasks:

    - name: Load homelab vars
      ansible.builtin.include_vars:
        file: vars/homelab_env.yaml

    - name: Deploy a containerised instance of Frigate
      ansible.builtin.include_tasks:
        file: tasks/deploy-frigate.yaml
