---
- name: Deploy socket-proxy

  hosts: ansible

  vars:

    # Vert facts
    # renovate: datasource=docker depName=wollomatic/socket-proxy
    vert_image: wollomatic/socket-proxy:1.10.0

  tasks:

    - name: Load homelab vars
      ansible.builtin.include_vars:
        file: vars/homelab_env.yaml

    - name: Deploy an exposed containerised instance of Socket Proxy configured for use by Homepage and Uptime Kuma
      ansible.builtin.include_tasks:
        file: tasks/deploy-socket-proxy.yaml
      vars:
        socket_proxy_service_name: "{{ socket_proxy_external_network_name }}"
        socket_proxy_service_port: 2378
        socket_proxy_network_name: "{{ socket_proxy_external_network_name }}"
        socket_proxy_network_internal: false
