---
- name: Deploy Homebox

  hosts: homebox

  vars:

    # Homebox facts
    # renovate: datasource=docker depName=ghcr.io/sysadminsmedia/homebox
    homebox_image: ghcr.io/sysadminsmedia/homebox:0.22.3

    homebox_deploy_docker_volume_backup: true

  tasks:

    - name: Load homelab vars
      ansible.builtin.include_vars:
        file: vars/homelab_env.yaml

    - name: Deploy a containerised instance of Homebox
      ansible.builtin.include_tasks:
        file: tasks/deploy-homebox.yaml

    - name: Deploy a containerised instance of Docker Volume Backup
      when: homebox_deploy_docker_volume_backup | default(false)
      ansible.builtin.include_tasks:
        file: tasks/deploy-docker-volume-backup.yaml
      vars:
        docker_volume_backup_service_name: "docker-volume-backup-{{ homebox_service_name }}"
        docker_volume_backup_volume_to_backup:
          - "{{ homebox_volume_name }}:/backup/{{ homebox_service_name }}-backup:ro"
        docker_volume_backup_backup_label: "{{ homebox_service_name }}"
        docker_volume_backup_backup_retention_days: 7
