---
- name: Deploy Portainer

  hosts: dozzle

  vars:

    # Portainer facts
    # Ensure image version is also updated in group_vars/homelab_lxc_docker.yaml.
    # TODO: Ensure variables set here are used in group_vars
    # renovate: datasource=docker depName=portainer/portainer-ce
    portainer_image: portainer/portainer-ce:2.38.0-alpine

  tasks:

    - name: Load homelab vars
      ansible.builtin.include_vars:
        file: vars/homelab_env.yaml

    - name: Deploy a containerised instance of Portainer
      ansible.builtin.include_tasks:
        file: tasks/deploy-portainer.yaml

    - name: Deploy a containerised instance of Docker Volume Backup
      when: portainer_deploy_docker_volume_backup | default(false)
      ansible.builtin.include_tasks:
        file: tasks/deploy-docker-volume-backup.yaml
      vars:
        docker_volume_backup_service_name: "docker-volume-backup-{{ portainer_service_name }}"
        docker_volume_backup_volume_to_backup:
          - "{{ portainer_volume_name }}:/backup/{{ portainer_service_name }}-backup:ro"
        docker_volume_backup_backup_label: "{{ portainer_service_name }}"
        docker_volume_backup_backup_retention_days: 1
