---
- name: Deploy Consul

  hosts: ansible

  vars:

    # Consul facts
    # renovate: datasource=docker depName=consul/server
    consul_image: hashicorp/consul:1.22.4
  tasks:

    - name: Load homelab vars
      ansible.builtin.include_vars:
        file: vars/homelab_env.yaml

    - name: Deploy a containerised instance of Consul
      ansible.builtin.include_tasks:
        file: tasks/deploy-consul.yaml
