---
- name: Deploy Semaphore

  hosts: ansible

  vars:

    # Semaphore facts
    # renovate: datasource=docker depName=semaphoreui/semaphore
    semaphore_image: semaphoreui/semaphore:v2.16.50
    # semaphore_db_dialect: bolt

    semaphore_deploy_docker_volume_backup: true

  tasks:

    - name: Load homelab vars
      ansible.builtin.include_vars:
        file: vars/homelab_env.yaml

    - name: Deploy a containerised instance of Semaphore
      ansible.builtin.include_tasks:
        file: tasks/deploy-semaphore.yaml

    - name: Deploy a containerised instance of Docker Volume Backup
      when: semaphore_deploy_docker_volume_backup | default(false)
      ansible.builtin.include_tasks:
        file: tasks/deploy-docker-volume-backup.yaml
      vars:
        docker_volume_backup_service_name: "docker-volume-backup-{{ semaphore_service_name }}"
        docker_volume_backup_volume_to_backup:
          - "{{ semaphore_volume_data_name }}:/backup/{{ semaphore_service_name }}-backup:ro"
        docker_volume_backup_backup_label: "{{ semaphore_service_name }}"
        docker_volume_backup_backup_retention_days: 3
