---
- name: Deploy Grocy

  hosts: grocy

  vars:

    # Grocy facts
    # renovate: datasource=docker depName=linuxserver/grocy
    grocy_image: linuxserver/grocy:4.5.0

    grocy_deploy_docker_volume_backup: true

  tasks:

    - name: Load homelab vars
      ansible.builtin.include_vars:
        file: vars/homelab_env.yaml

    - name: Deploy a containerised instance of Grocy
      ansible.builtin.include_tasks:
        file: tasks/deploy-grocy.yaml

    - name: Deploy a containerised instance of Docker Volume Backup
      when: grocy_deploy_docker_volume_backup | default(false)
      ansible.builtin.include_tasks:
        file: tasks/deploy-docker-volume-backup.yaml
      vars:
        docker_volume_backup_service_name: "docker-volume-backup-{{ grocy_service_name }}"
        docker_volume_backup_volume_to_backup:
          - "{{ grocy_volume_name }}:/backup/{{ grocy_service_name }}-backup:ro"
        docker_volume_backup_backup_label: "{{ grocy_service_name }}"
        docker_volume_backup_backup_retention_days: 7
