---
- name: Deploy Hortusfox

  hosts: hortusfox

  vars:

    # Hortusfox facts
    # Ensure values are also set in templates/hortusfox/docker-compose.yaml.j2
    # TODO: Ensure variables set here are used in the docker-compose file
    hortusfox_image: ghcr.io/danielbrendel/hortusfox-web:v5.6
    hortusfox_service_name: hortusfox
    hortusfox_service_port: 80
    hortusfox_db_backup_volume_name: hortusfox_db_backup

    hortusfox_deploy_docker_volume_backup: false

  tasks:

    - name: Load homelab vars
      ansible.builtin.include_vars:
        file: vars/homelab_env.yaml

    - name: Deploy a containerised instance of Hortusfox
      ansible.builtin.include_tasks:
        file: tasks/deploy-hortusfox.yaml

    - name: Deploy a containerised instance of Docker Volume Backup
      when: hortusfox_deploy_docker_volume_backup | default(false)
      ansible.builtin.include_tasks:
        file: tasks/deploy-docker-volume-backup.yaml
      vars:
        docker_volume_backup_service_name: "docker-volume-backup-{{ hortusfox_service_name }}"
        docker_volume_backup_volume_to_backup:
          - "{{ hortusfox_db_backup_volume_name }}:/backup/{{ hortusfox_service_name }}-db-backup:ro"
        docker_volume_backup_backup_label: "{{ hortusfox_service_name }}-db"
        docker_volume_backup_backup_retention_days: 7
