---
- name: Deploy Homepage

  hosts: homepage

  vars:

    # Homepage facts
    # renovate: datasource=docker depName=ghcr.io/gethomepage/homepage
    homepage_image: ghcr.io/gethomepage/homepage:v1.9.0

  tasks:

    - name: Load homelab vars
      ansible.builtin.include_vars:
        file: vars/homelab_env.yaml

    - name: Deploy a containerised instance of Homepage
      ansible.builtin.include_tasks:
        file: tasks/deploy-homepage.yaml
