---

- name: Deploy Authentik

  hosts: ansible

  vars:

    # Authentik facts
    # renovate: datasource=docker depName=ghcr.io/goauthentik/server
    authentik_image: ghcr.io/goauthentik/server:2025.10.1

  tasks:

    - name: Load homelab vars
      ansible.builtin.include_vars:
        file: vars/homelab_env.yaml

    - name: Deploy a containerised instance of Authentik
      ansible.builtin.include_tasks:
        file: tasks/deploy-authentik.yaml
