---

- name: Deploy Grist

  hosts: fireflyiii

  vars:

    # Grist facts
    # renovate: datasource=docker depName=gristlabs/grist
    grist_image: gristlabs/grist:1.7.7

    grist_deploy_docker_volume_backup: true

  tasks:

    - name: Load homelab vars
      ansible.builtin.include_vars:
        file: vars/homelab_env.yaml

    - name: Deploy a containerised instance of Grist
      ansible.builtin.include_tasks:
        file: tasks/deploy-grist.yaml

    - name: Deploy a containerised instance of Docker Volume Backup
      when: grist_deploy_docker_volume_backup | default(false)
      ansible.builtin.include_tasks:
        file: tasks/deploy-docker-volume-backup.yaml
      vars:
        docker_volume_backup_service_name: "docker-volume-backup-{{ grist_service_name }}"
        docker_volume_backup_volume_to_backup:
          - "{{ grist_volume_name }}:/backup/{{ grist_service_name }}-backup:ro"
        docker_volume_backup_backup_label: "{{ grist_service_name }}-db"
        docker_volume_backup_backup_retention_days: 7
